{% extends "base.html" %}

{% block content %}
<div class="color">
    <div class="about-us-section">
        <h1>About AirIndia</h1>
        <p>Welcome to AirIndia, your trusted flight booking service. We have been providing seamless air travel booking experiences.</p>

        <section class="mission">
            <h2>Our Mission</h2>
            <p>Our mission is to make air travel affordable, accessible, and enjoyable for everyone. We are dedicated to ensuring you have a hassle-free journey from booking to boarding.</p>
        </section>

        <section class="values">
            <h2>Core Values</h2>
            <ul>
                <li>Customer Satisfaction</li>
                <li>Transparency</li>
                <li>Innovation</li>
                <li>Sustainability</li>
            </ul>
        </section>
   <br>
   <br>
        <center>
            <h2 class="quote"> WISHING YOU SMOOTH SKIES AND SAFE TRAVELS!!</h2>
        </center>
    </div>
</div>

{% endblock %}
