<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style1.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <h1>Welcome to AirIndia</h1>
        </div>
        <div class="menu">
            <ul>
                <li><a href="{{ url_for('viewflights') }}">FLightView</a></li>
                <li><a href="{{ url_for('home1') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="{{ url_for('cab') }}">Services</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('login') }}">Logout</a></li>

            </ul>
        </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>