<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style1.css') }}">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <!-- Places Section -->
    <div class="container">
        <!-- Place 1 -->
        <div class="item">
            <img src="{{ url_for('static', filename='images/australia.jpg') }}" alt="Australia">
            <div class="info">
                <h2>AUSTRALIA</h2>
                <div class="button">
                    <a href="{{ url_for('booking_form') }}">Book Now</a>
                </div>
            </div>
        </div>

        <!-- Place 2 -->
        <div class="item">
            <img src="{{ url_for('static', filename='images/dubai.jpg') }}" alt="Dubai">
            <div class="info">
                <h2>DUBAI</h2>
                <div class="button">
                    <a href="{{ url_for('booking_form') }}">Book Now</a>
                </div>
            </div>
        </div>

        <!-- Place 3 -->
        <div class="item">
            <img src="{{ url_for('static', filename='images/china.jpg') }}" alt="China">
            <div class="info">
                <h2>CHINA</h2>
                <div class="button">
                    <a href="{{ url_for('booking_form') }}">Book Now</a>
                </div>
            </div>
        </div>

        <!-- Place 4 -->
        <div class="item">
            <img src="{{ url_for('static', filename='images/combodia.jpg') }}" alt="Cambodia">
            <div class="info">
                <h2>CAMBODIA</h2>
                <div class="button">
                    <a href="{{ url_for('booking_form') }}">Book Now</a>
                </div>
            </div>
        </div>

        <!-- Place 5 -->
        <div class="item">
            <img src="{{ url_for('static', filename='images/london.jpg') }}" alt="London">
            <div class="info">
                <h2>LONDON</h2>
                <div class="button">
                    <a href="{{ url_for('booking_form') }}">Book Now</a>
                </div>
            </div>
        </div>

        <!-- Place 6 -->
        <div class="item">
            <img src="{{ url_for('static', filename='images/malaysia.jpg') }}" alt="Malaysia">
            <div class="info">
                <h2>MALAYSIA</h2>
                <div class="button">
                    <a href="{{ url_for('booking_form') }}">Book Now</a>
                </div>
            </div>
        </div>

        <!-- Place 7 -->
        <div class="item">
            <img src="{{ url_for('static', filename='images/singapore.jpg') }}" alt="Singapore">
            <div class="info">
                <h2>SINGAPORE</h2>
                <div class="button">
                    <a href="{{ url_for('booking_form') }}">Book Now</a>
                </div>
            </div>
        </div>

        <!-- Place 8 -->
        <div class="item">
            <img src="{{ url_for('static', filename='images/usa.jpg') }}" alt="USA">
            <div class="info">
                <h2>USA</h2>
                <div class="button">
                    <a href="{{ url_for('booking_form') }}">Book Now</a>
                </div>
            </div>
        </div>

        <!-- Place 9 -->
        <div class="item">
            <img src="{{ url_for('static', filename='images/india.jpg') }}" alt="India">
            <div class="info">
                <h2>INDIA</h2>
                <div class="button">
                    <a href="{{ url_for('booking_form') }}">Book Now</a>
                </div>
            </div>
        </div>
    </div>
     
    <center>
        <a href="/"> <h2> <<-Back </h2> </a>
    </center>
    {% endblock %}
</body>
</html>
