body{
    margin: 0%;
    font-family: sans-serif;
}

h1{
    color: red;
    
}
h2{
    color: black;
    
}
.booking{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    position: absolute;
    right: 80;   
    width: 500px;

}

.cld {
   background-color: bisque;
}
.head {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 40px;
}
 