<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Flights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <h1>Available Flights</h1>

    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th>Departure Time</th>
                <th>Seats</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
            <tr>
                <td>{{ flight.airline }}</td>
                <td>{{ flight.departure_time }}</td>
                <td>{{ flight.available_seats }}</td>
                <td>
                    {% if flight.available_seats > 0 %}
                    <form action="{{ url_for('booking_form', flight_id=flight._id) }}" method="POST">
                        <button type="submit"><a href="{{('booking_form')}}" >Book Now</a></button>
                    </form>
                    {% else %}
                    <button disabled>Sold Out</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}

</body>
</html>
